<div class="container text-center">
    <h1>About Page</h1>
<p>Nuestra web se centra en ayudar a la comunidad china que viene a España para estudiar, asesorándolos para que puedan elegir unos buenos estudios.</p>
</div>
